<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="OBS.Properties.Settings.ObsDbConnectionString" connectionString="Data Source=LAPTOP-Q9K2O2LA\SQL;Initial Catalog=ObsDb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="OBS.Properties.Settings.ObsDbConnectionString1" connectionString="Data Source=.;Initial Catalog=ObsDb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ObsDbEntities" connectionString="metadata=res://*/entity.Model1.csdl|res://*/entity.Model1.ssdl|res://*/entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-Q9K2O2LA\SQL;initial catalog=ObsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ObsDbEntities1" connectionString="metadata=res://*/Entity.Model1.csdl|res://*/Entity.Model1.ssdl|res://*/Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-Q9K2O2LA\SQL;initial catalog=ObsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ObsDbEntities2" connectionString="metadata=res://*/NewFolder1.Model1.csdl|res://*/NewFolder1.Model1.ssdl|res://*/NewFolder1.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-Q9K2O2LA\SQL;initial catalog=ObsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ObsDbEntities3" connectionString="metadata=res://*/entity.Model1.csdl|res://*/entity.Model1.ssdl|res://*/entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-Q9K2O2LA\SQL;initial catalog=ObsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ObsDbEntities4" connectionString="metadata=res://*/entity.Model1.csdl|res://*/entity.Model1.ssdl|res://*/entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-Q9K2O2LA\SQL;initial catalog=ObsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ObsDbEntities5" connectionString="metadata=res://*/entity.Model1.csdl|res://*/entity.Model1.ssdl|res://*/entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-Q9K2O2LA\SQL;initial catalog=ObsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ObsDbEntities6" connectionString="metadata=res://*/entity.Model1.csdl|res://*/entity.Model1.ssdl|res://*/entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-Q9K2O2LA\SQL;initial catalog=ObsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ObsDbEntitiess" connectionString="metadata=res://*/Entity.Model1.csdl|res://*/Entity.Model1.ssdl|res://*/Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-Q9K2O2LA\SQL;initial catalog=ObsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ObsDbEntitiesDB" connectionString="metadata=res://*/Entity.ObsDb.csdl|res://*/Entity.ObsDb.ssdl|res://*/Entity.ObsDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ObsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ObsDbEntitiesDb" connectionString="metadata=res://*/Entity.ObsDbEntity.csdl|res://*/Entity.ObsDbEntity.ssdl|res://*/Entity.ObsDbEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ObsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ObsDbEntitiessDb" connectionString="metadata=res://*/Entity.ObsDbEntity.csdl|res://*/Entity.ObsDbEntity.ssdl|res://*/Entity.ObsDbEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-Q9K2O2LA\SQL;initial catalog=ObsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ObsDbEntitiessDB" connectionString="metadata=res://*/Entity.ObsDbEntity.csdl|res://*/Entity.ObsDbEntity.ssdl|res://*/Entity.ObsDbEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ObsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>